body {
  background: #000;
  font-family: "Metro Sans", sans-serif;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

form {
  max-width: 500px;
  margin: 0 auto;
}

h1 {
  font-weight: 100;
  color: white;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(79, 98, 148);
}

h2 {
  font-weight: 75;
  color: white;
  text-align: center;
  padding-bottom: 10px;
}

.form {
  background: #000;
  max-width: 400px;
  margin: 0 auto;
}

p {
  color: #EC585D;
}

p::before {
  display: inline;
  content: "⚠ ";
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid white;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 28px;
}

select {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid white;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 28px;
}


label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 2px;
  margin-top: 10px;
  color: #fff;
  font-size: 28px;
}

button[type="submit"],
input[type="submit"] {
  background: #2E71E5;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  padding: 20px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 10px;
}

button[type="submit"]:hover,
input[type="submit"]:hover {
  background: #02A8EF;
}

button[type="submit"]:active,
input[type="button"]:active,
input[type="submit"]:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

input:disabled {
  opacity: 0.4;
}

input[type="button"]:hover {
  transition: 0.3s all;
}

button[type="submit"],
input[type="button"]

.App {
  max-width: 600px;
  margin: 0 auto;
}

button[type="button"] {
  display: block;
  appearance: none;
  background: #000;
  color: white;
  border: none;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
}

hr {
  margin-top: 30px;
}

button {
  display: block;
  appearance: none;
  margin-top: 40px;
  border: 1px solid #000;
  margin-bottom: 20px;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
}

.escape-room {
  width: 33%;
}

.home {
  width: 33%;
}

.robots {
  width: 33%;
}

button[type="delete"] {
  display: block;
  appearance: none;
  margin-top: 10px;
  border: 1px solid #EC585D;
  margin-bottom: 10px;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
  background: #EC585D;
  color: #FFF;
}

button[type="delete"]:hover,
input[type="delete"]:hover {
  background: #fff;
  color: #EC585D
}

button[type="admin"] {
  display: block;
  appearance: none;
  margin-top: 10px;
  border: 1px solid #EC585D;
  margin-bottom: 10px;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
  background: #EC585D;
  color: #FFF;
}

button[type="admin"]:hover,
input[type="admin"]:hover {
  background: #fff;
  color: #EC585D
}