/* stylelint-disable no-descending-specificity, media-feature-range-notation */
@import "@hashicorp/design-system-components";
@import 'hds/themes/dark-mode';

@import "typography";

/**
 * Base Elements
 */

* {
  margin: 0;
  padding: 0;
}

.robot-header {
  text-align: center;
  font-size: 36px;
  background: linear-gradient(to right, #FF5E63 40%, #FFEC6E 45%, #FFFFFF 50%, #48C8FF 55%, #627EEF 60%, #A067DA 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.robot-frame {
  padding: 20px;
  border: 0px;
}

footer {
  height: 100px;
  width:100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.robot-box {
  box-sizing: border-box;
  background: #000;
  border-radius: 20px;
  background: linear-gradient(#000, #000) padding-box,
              linear-gradient(to right bottom, #2FA5DD, #4168B2, #754EA0, #F04D54, #FED70F) border-box;
  border: 1px solid transparent;
}

.robots-background {
  background-image: url(images/robots.png);
  background-size: cover;
}

.escape-room-background {
  background-image: url(images/escape-room.png);
  background-size: cover;
}

.escape-room-header {
  text-align: center;
  font-size: 36px;
}

.escape-room-ai-header {
  text-align: center;
  font-size: 24px;
  background: linear-gradient(to right, #FFFFFF, #2FA5DD, #4168B2, #754EA0);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.escape-room-vpm-header {
  text-align: center;
  font-size: 24px;
  background: linear-gradient(to right, #FFFFFF, #F04D54, #FED70F);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.escape-room-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 30px;
}

.escape-room-ai-column {
  flex: 1;
  box-sizing: border-box;
  background: #000;
  border-radius: 20px;
  background: linear-gradient(#000, #000) padding-box,
              linear-gradient(90deg, #2FA5DD, #4168B2, #754EA0) border-box;
  border: 1px solid transparent;
}

.escape-room-vpm-column {
  flex: 1;
  box-sizing: border-box;
  background: #000;
  border-radius: 20px;
  background: linear-gradient(#000, #000) padding-box,
              linear-gradient(90deg, #F04D54, #FED70F) border-box;
  border: 1px solid transparent;
}

.escape-room-table {
  float: left;
  padding: 20px;
  border: 0px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a,
button {
  font-family: "hashicorp-sans-variable";
  line-height: 1.5;
  color: #fff;
  padding: 5px;
}

table {
  font-family: "metro-400-normal.";
  color: #fff;
}

body {
  background: #000;
}

a {
  color: #016aba;
  text-decoration: none;
}

button {
  font-size: 100%;
}

p {
  line-height: 1.5;
  margin-bottom: 15px;
}

/**
 * Button
 */

.button {
  padding: 10px 30px;
  text-decoration: none;
  color: #fff;
  background: #016aba;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.9;
  display: inline-block;
}

.button:hover {
  opacity: 1;
}

/**
 * Body Container
 */

.container {
  max-width: 1024px;
  min-height: 100vh;
  margin: 0 auto;
}

/**
 * Utilities
 */

.light {
  font-weight: 300;
}

.left {
  float: left;
}

.right {
  float: right;
}

.hidden {
  display: none;
}

.relative {
  position: relative;
}

.screen-reader {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}