/* stylelint-disable no-descending-specificity, media-feature-range-notation */
@import "@hashicorp/design-system-components";
@import 'hds/themes/dark-mode';

@import "typography";

/**
 * Base Elements
 */

* {
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a,
button {
  font-family: "hashicorp-sans-variable";
  line-height: 1.5;
  color: #fff;
  padding: 5px;
}

table {
  font-family: "metro-400-normal.";
  color: #fff;
}

body {
  background: #000;
}

a {
  color: #016aba;
  text-decoration: none;
}

button {
  font-size: 100%;
}

p {
  line-height: 1.5;
  margin-bottom: 15px;
}

/**
 * Button
 */

.button {
  padding: 10px 30px;
  text-decoration: none;
  color: #fff;
  background: #016aba;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.9;
  display: inline-block;
}

.button:hover {
  opacity: 1;
}

/**
 * Body Container
 */

.container {
  max-width: 1024px;
  min-height: 100vh;
  margin: 0 auto;
}

/**
 * Utilities
 */

.light {
  font-weight: 300;
}

.left {
  float: left;
}

.right {
  float: right;
}

.hidden {
  display: none;
}

.relative {
  position: relative;
}

.screen-reader {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}