<div>
    <Hds::AppFrame as |Frame|>
        <Frame.Header>
            <Hds::PageHeader as |PH|>
                <PH.Title>HashiConf Activations Leaderboards</PH.Title>
            </Hds::PageHeader>
        </Frame.Header>
        <Frame.Main>
            <Hds::ButtonSet>
                <Hds::Button @icon="server" @text="ILM" @route="escape-room-ilm" />
                <Hds::Button @icon="lock" @text="SLM" @route="escape-room-slm" />
                <Hds::Button @icon="robot" @text="Robots" @route="robots" />
            </Hds::ButtonSet>
        </Frame.Main>
    </Hds::AppFrame>
</div>